.goButton{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#cupInput{
    width: 4rem;
    flex: none;
    margin-right: 0!important;
}
.input-group-text {
    background-color: #212529;
    color:#fff;
}
.form-control {
    color:#fff;
}

